.profile {
  padding: 74px 0 70px;
  width: 100%;
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.profile__form{
  max-width: 410px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile__title{
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0 123px;
}
.profile__input-name {
  margin: 0;
  width: 141px;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
}
.profile__item{
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}
.profile__item:first-of-type{
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 16px;
}
.profile__item:last-of-type {
  margin-top: 17px;
  margin-bottom: 220px;
}
.profile__input {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: right;
  border: none;
  background: inherit;
}

.profile__edit{
  border: none;
  background: inherit;
  width: 100%;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding: 0;
}
.profile__out{
  border: none;
  background: inherit;
  width: 100%;
  cursor: pointer;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding: 0;
}
.account__link-out{
  text-decoration: none;
  color: #EE3465;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}
@media screen and (max-width: 769px) {
  .profile {
    padding: 236px 0 269px;
  }
  .profile__title{
    margin-bottom: 96px;
  }
  .profile__item:last-of-type{
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 321px) {
  .profile {
    padding: 70px 0 40px;
  }
  .profile__title{
    margin-bottom: 80px;
  }
  .profile__item{
    max-width: calc(100% - 60px);
    margin: 0 auto;
  }
  .profile__edit{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
  }
  .account__link-out{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
  }
  .profile__item:last-of-type{
    margin-bottom: 379px;
  }
}