.search{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.search__form {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
  border-bottom: 1px solid #E8E8E8;
}
.search__input {
  width: 100%;
  border-radius: 40px;
  border: none;
  background: #F9F9F9;
  padding: 14px 22px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #A0A0A0;
}
.search__button {
  position: absolute;
  width: 80px;
  height: 34px;
  border: none;
  border-radius: 40px;
  background-color: #FF6838;
  padding: 6px 29px;
  top: 6px;
  right: 6px;
  cursor: pointer;
}
.search__filter {
  margin-top: 42px;
  display: flex;
  gap: 12px;
}
.demoToggleCheckbox {
  display: none;
}
.demoToggleCheckbox + label {
  display: inline-block;
  width: 36px;
  height: 20px;
  background-color: #ccc;
  border-radius: 17px;
  position: relative;
  cursor: pointer;
}
.demoToggleCheckbox + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}
.demoToggleCheckbox:checked + label {
  background-color: #33c53e;
}
.demoToggleCheckbox:checked + label:after {
  transform: translateX(16px);
}
.search__desc{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  margin: 0;
}
@media all and (max-width: 769px) {
  .search__form{
    padding-bottom: 50px;
  }
}
@media all and (max-width: 321px) {
  .search{
    width: calc(100% - 8px);
    margin: 0 auto;
  }
  .search__desc{
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }
}