.about-me{
  padding: 110px 70px 0;
  display: flex;
  flex-wrap: wrap;
}
.about-me__container{
  display: flex;
  margin-top: 66px;
  width: 100%;
  justify-content: space-between;
}
.about-me__info{
  max-width: 600px;
  position: relative;
}
.about-me__name{
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
}
.about-me__profession{
  margin: 18px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.about-me__text{
  margin: 26px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;

}
.about-me__github{
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  bottom: 0px;
  margin: 99px 0 0;
}
.about-me__photo{
  object-fit: contain;
}
@media screen and (max-width: 769px) {
  .about-me {
    padding: 90px 50px 0;
  }
  .about-me__name{
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.04em;
  }
  .about-me__profession{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    margin-top: 16px;
  }
  .about-me__text{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    max-width: 364px;
    margin-top: 20px;
  }
  .about-me__photo{
    width: 255px;
    height: 307px;
  }
  .about-me__github{
    margin-top: 87px;
  }
  .about-me__container{
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 321px){
  .about-me{
    padding: 63px 14px 70px;
  }
  .about-me__container{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .about-me__photo{
    width: 292px;
    height: 352px;
  }
  .about-me__github{
    margin-top: 40px;
  }
  .about-me__info{
    margin-top: 40px;
  }
 
  .about-me__name{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
  }
  .about-me__profession{
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    margin-top: 20px;
  }
  .about-me__text{
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
  }
}